*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Editorial New;
}
p{
    font-family: Editorial New;
}
h2{
    font-family: canopee;
}
h4{
    font-family: canopee;
}
body,html{
    height: 100%;
    width: 100%;
}
#main{
    background-color: #222;
    overflow-x: hidden;
}
#page1{
    height: 120vh;
    width: 100vw; 
    background-color: #C2BAB1;  
    position: relative; 
    overflow: hidden;
}
#nav{
    width: 100%;
    height: 80px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-bottom: 1px solid #222;
}
#nav h5{
    font-weight: 100;
    font-size: 16px;
}
#nav img{
    height: 75px;
    width: 120px;
}
#elems{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#elem1{
    width: 35%;
    padding: 20px;
    /* border: 1px solid black; */
}
#elem1 h4{
    font-size: 25px;
    font-weight: 550;
    padding: 10px 0;
}
#elem1 p{
    font-size: 18px;
    padding-right: 50px;
    font-weight: 400;
    color: #3F3C39;
}
#elem1 h4 span{
    background-color: #B43B12;
    color: #C2BAB1;
    font-size: 14px;
    font-weight: 100;
    margin-left: 10px;
    padding: 4px;
    border-radius: 5px;
}
#elem2{
    width: 25%;
    text-align: center;
    border-right: 1px solid #5a5959;
    border-left: 1px solid #5a5959;
}
#elem2 h2{
    font-size: 60px;
    padding-top: 30px;
    font-weight: 550;
}
#elem2 h6{
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}
#elem2 h3{
    font-size: 35px;
    font-weight: 400;
    padding: 25px 0px;
}
#elem2 span{
    font-weight: 600;
}
#elem3{
    width: 35%;
    padding-left: 40px;
    /* border: 1px solid black; */
}
#elem3 h4{
    font-size: 25px;
    font-weight: 550;
    padding: 10px 0;
}
#elem3 p{
    font-size: 18px;
    /* font-family: domain; */
    padding-right: 50px;
    font-weight: 400;
    color: #3F3C39;
}
#elem3 h4 span{
    background-color: #B43B12;
    color: #C2BAB1;
    font-size: 14px;
    font-weight: 100;
    margin-left: 10px;
    padding: 4px;
    border-radius: 5px;
}
.image-div{
    width: 95%;
    overflow: hidden;
}
.image-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.4s;
}
.image-div:hover img{
    scale: 1.1;
}
#miranda{
    font-size:510px;
    font-weight: 100;
    font-family: canopee;
    background-color: #1C1C19;
    color: #C2BAB1;
    line-height: 450px;
    width: 96%;
    margin-left: 2%;
}

#page2{
    width: 100%;
    background-color: #C2BAB1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 40px; 
}
#page2-left{
    height: 100%;
    width: 35%;
    /* background-color: red; */
    padding-right: 50px;
    border-right: 1px solid#464545;
}
#page2-left h2{
    font-size: 100px;
    font-family: canopee;
    line-height: 110px;
    font-weight: 100;
    text-align: center;
}
#page2-left span{
    font-size: 150px;
    font-family: canopee;
}
#page2-left img{
    padding-top: 20px;
    height: 65%;
    width: 100%;
    object-fit: cover;
}
#page2-left p{
    font-size: 35px;
    font-family: Editorial New;
    margin: 20px 0px;
}
#page2-right{
    height: 100%;
    width: 65%;
    padding-left: 50px;
}
#page2-right img{
    height: 80%;
    object-fit: cover;
    width: 100%;
}
#page2-right h1{
    font-size: 110px;
    letter-spacing: -2px;
    font-family: Canopee;
    color: #1C1C1A;
    font-weight: 100;
}
#page3 img {
    height: 400px;
    position: absolute;
    top: 0;
    right: 3%;

}
#page3 {
    padding-bottom: 100px;
    position: relative;
    background-color: #C4BCB3;
}

#page3 h1 {
    font-size: 400px;
    font-weight: 100;
    letter-spacing: -10px;
    background-color: #1C1C19;
    width: fit-content;
    color: #C4BCB3;
    margin-left: 2%;
    padding: 0 20px;
    line-height: 400px;
    font-family: canopee;
}
#page4 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #C4BCB3;
}

#page4-left {
    width: 65%;
    height: 100%;
    padding: 80px 60px;
}

#page4-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page4-right {
    width: 35%;
    height: 100%;
    padding: 80px 60px;
}

#page4-right p {
    font-size: 30px;
    font-family: Editorial New;
    font-weight: 100;
    color: #2f2f2f;
    line-height: 35px;
    margin-bottom: 10px;
}

#page4-right #anda {
    height: 200px;
    background-color: #CAC1B6;
    border: 1px solid #2f2f2fc6;
    border-radius: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

#anda h1 {
    font-size: 80px;
    font-weight: 100;
    font-family: canopee;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-26%);
    transition: all ease 0.6s;
}

#anda img {
    transition: all ease 0.6s;
    transform: translateX(-120%);
}

#anda:hover img {
    transform: translateX(76%);
}

#anda:hover h1 {
    transform: translateX(100%);
}

#page5 {
    padding: 25px 0;
    width: 100%;
    background-color: #C4BCB3;
    border-top: 1px solid #2f2f2f;
    border-bottom: 1px solid #2f2f2f;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#page5::-webkit-scrollbar {
    display: none;
}

#page5 h1 {
    font-size: 100px;
    font-weight: 100;
    display: inline-block;
    /* background-color: red; */
    animation-timing-function: linear;
    margin-right: 30px;
    animation-name: scroll;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#page5 h1 span {
    font-family: canopee;
    background-color: #1b1b1b;
    color: #C4BCB3;
    padding: 0 12px;
}

#page6 {
    height: 100px;
    width: 100%;
    background-color: #C4BCB3;
}